<header id="header" class="header fixed-top d-flex align-items-center">


    <div class="d-flex align-items-center justify-content-between logo-left">
        <div class="logo">
            <a class="navbar-brand" href=""><img src="images/Imagen-logo.png" /></a>
        </div>
        <!---<i class="bi bi-list toggle-sidebar-btn"></i>--->
    </div><!-- End Logo -->

    <!------ <button type="button" id="sidebarCollapse" class="btn btn-info" onclick="myFunction()">
         <i class="fas fa-align-left"></i>
     </button>----->

    <div class="head-center">
        <h4>QDBv2</h4>
    </div>



    <ul class="nav navbar-nav ml-auto login-right">
        <li class="nav-item active">
            <LoginDisplay />
            <!----<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>--->
        </li>
    </ul>




</header><!-- End Header -->
<!-- Sidebar  -->
<nav id="sidebar">
    <ul class="list-unstyled components">

        <AuthorizeView>
            <Authorized>
                <li>
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <i class="fa-light fa-house"></i> <span>Home</span>
                    </NavLink>

                    @if (context.User.IsInRole(RoleType.User.ToString()))
                    {
                        <NavLink class="nav-link" href="workorder">
                            <i class="fa-light fa-file-circle-check"></i> <span>Work Order</span>
                        </NavLink>
                    }

                    @if (context.User.IsInRole(RoleType.Admin.ToString()) || context.User.IsInRole(RoleType.WorkOrderAdmin.ToString()))
                    {
                        <NavLink class="nav-link" href="manageworkorder">
                            <i class="fa-light fa-file-circle-check"></i> <span>Manage Work Order</span>
                        </NavLink>
                    }

                    <NavLink class="nav-link" href="inspection">
                        <i class="fa-light fa-magnifying-glass"></i> <span>Inspection</span>
                    </NavLink>


                    <NavLink class="nav-link" href="repair">
                        <i class="fa-light fa-hammer"></i> <span>Repair</span>
                    </NavLink>


                    <NavLink class="nav-link" href="mrb">
                        <i class="fa-light fa-tower-control"></i> <span>MRB</span>
                    </NavLink>


                    <NavLink class="nav-link" href="scarcar">
                        <i class="fa-light fa-file-chart-column"></i> <span>SCAR/CAR</span>
                    </NavLink>


                    <NavLink class="nav-link" href="alerts">
                        <i class="fa-light fa-bell-exclamation"></i> <span>Alerts</span>
                    </NavLink>
                    <NavLink class="nav-link" href="deviation">
                        <i class="fa-light fa-arrows-turn-to-dots"></i> <span>Deviations</span>
                    </NavLink>
                    <!--Admin--->

                    <NavLink class="nav-link" href="manageproductfamily">
                        <i class="fa-light fa-cart-flatbed-boxes"></i> <span>Manage Product Families</span>
                    </NavLink>

                    <NavLink class="nav-link" href="managestation">
                        <i class="fa-light fa-people-roof"></i> <span>Manage Stations</span>
                    </NavLink>

                    <NavLink class="nav-link" href="managemasterpart">
                        <i class="fa-light fa-gear"></i> <span>Manage Master Parts</span>
                    </NavLink>

                    <NavLink class="nav-link" href="manageexcelupload">
                        <i class="fa-light fa-upload"></i> <span>Manage Excel Upload</span>
                    </NavLink>

                    <NavLink class="nav-link" href="managepart">
                        <i class="fa-light fa-gears"></i> <span>Manage Parts</span>
                    </NavLink>

                    <NavLink class="nav-link" href="manageusers">
                        <i class="fa-light fa-users"></i> <span>Manage Users</span>
                    </NavLink>

                    <NavLink class="nav-link" href="manageglcode">
                        <i class="fa-light fa-barcode"></i> <span>Manage GL Codes</span>
                    </NavLink>

                    <NavLink class="nav-link" href="managefailurecode">
                        <i class="fa-light fa-file"></i> <span>Manage Failure Codes</span>
                    </NavLink>

                    <NavLink class="nav-link" href="managepartstatus">
                        <i class="fa-light fa-align-center"></i> <span>Manage Part Statuses</span>
                    </NavLink>

                    <NavLink class="nav-link" href="managescarcarresolution">
                        <i class="fa-light fa-braille"></i> <span>Manage Scar Car Resolutions</span>
                    </NavLink>

                    <NavLink class="nav-link" href="managescarcarstatus">
                        <i class="fa-light fa-certificate"></i> <span>Manage Scar Car Statuses</span>
                    </NavLink>

                    <NavLink class="nav-link" href="managescarcarpriority">
                        <i class="fa-light fa-window-restore"></i> <span>Manage Scar Car Priorities</span>
                    </NavLink>

                    <NavLink class="nav-link" href="managescarcarcategory">
                        <i class="fa-light fa-snowflake"></i> <span>Manage Scar Car Categories</span>
                    </NavLink>

                    <NavLink class="nav-link" href="managescarcarproject">
                        <i class="fa-light fa-bus"></i> <span>Manage Scar Car Projects</span>
                    </NavLink>

                    <NavLink class="nav-link" href="managescarcarimpact">
                        <i class="fa-light fa-car"></i> <span>Manage Scar Car Impacts</span>
                    </NavLink>

                    <NavLink class="nav-link" href="manageworkordertype">
                        <i class="fa-light fa-krw"></i> <span>Manage Work Order Types</span>
                    </NavLink>

                    <NavLink class="nav-link" href="manageworkorderpriority">
                        <i class="fa-light fa-indent"></i> <span>Manage Work Order Priorities</span>
                    </NavLink>

                    <NavLink class="nav-link" href="manageworkorderstatus">
                        <i class="fa-light fa-arrows-alt"></i> <span>Manage Work Order Statuses</span>
                    </NavLink>


                    @* <NavLink class="nav-link" href="buildtemplatepart">
                    <i class="fa-light fa-gift"></i> <span>Build Template Parts</span>
                    </NavLink>*@

                    <NavLink class="nav-link" href="managebuildtemplate">
                        <i class="fa-light fa-compass"></i> <span>Manage Build Templates</span>
                    </NavLink>

                    <NavLink class="nav-link" href="managebuildstation">
                        <i class="fa-light fa-bullseye"></i> <span>Manage Build Stations</span>
                    </NavLink>

                </li>
            </Authorized>



        </AuthorizeView>

    </ul>

</nav>
