<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <div class="logo">
            <a class="navbar-brand" href=""><img src="images/logo_lightspeed-dark.png" /></a>
        </div>
        <!---<i class="bi bi-list toggle-sidebar-btn"></i>--->
    </div><!-- End Logo -->
   <!------ <button type="button" id="sidebarCollapse" class="btn btn-info" onclick="myFunction()">
        <i class="fas fa-align-left"></i>
    </button>----->
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item active">
            <LoginDisplay />
            <!----<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>--->
        </li>
    </ul>

</header><!-- End Header -->
<!-- Sidebar  -->
<nav id="sidebar">
<ul class="list-unstyled components">

        <AuthorizeView>
            <Authorized>
                <li>
                  <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                   <span class="oi oi-home" aria-hidden="true"></span> Home
                  </NavLink>

                   <NavLink class="nav-link" href="workorder">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Work Order
                  </NavLink>

                  <NavLink class="nav-link" href="inspection">
                   <span class="oi oi-list-rich" aria-hidden="true"></span> Inspection
                  </NavLink>
        
        
                 <NavLink class="nav-link" href="repair">
                  <span class="oi oi-list-rich" aria-hidden="true"></span> Repair
                 </NavLink>
        
        
                 <NavLink class="nav-link" href="mrb">
                  <span class="oi oi-list-rich" aria-hidden="true"></span> MRB
                 </NavLink>
        
       
                 <NavLink class="nav-link" href="scarcar">
                   <span class="oi oi-list-rich" aria-hidden="true"></span> SCAR/CAR
                 </NavLink>
        
        
                <NavLink class="nav-link" href="alertsdeviations">
                 <span class="oi oi-list-rich" aria-hidden="true"></span> Alerts & Deviations
                </NavLink>
                Admin

                                <NavLink class="nav-link" href="manageproductfamily">
                 <span class="oi oi-list-rich" aria-hidden="true"></span> Manage Product Families
                </NavLink>

                                <NavLink class="nav-link" href="managestation">
                 <span class="oi oi-list-rich" aria-hidden="true"></span> Manage Stations
                </NavLink>

                                <NavLink class="nav-link" href="managemasterpart">
                 <span class="oi oi-list-rich" aria-hidden="true"></span> Manage Master Parts
                </NavLink>
                                                <NavLink class="nav-link" href="manageexcelupload">
                 <span class="oi oi-list-rich" aria-hidden="true"></span> Manage Excel Upload
                </NavLink>
                </li>
            </Authorized>

            

       </AuthorizeView>
        
    </ul>

</nav>
