@page "/inspection"
<h3>Inspection</h3>

<div>
    <input type="search" />
    <button>Find</button>
</div>

<br />
<br />
<div>
    <div>Family :</div>
    <div>Detta zulu</div>
</div>
<div>
    <div>Desc :</div>
    <div>Detta zulu GA</div>
</div>

<div>
    <div>Part Number :</div>
    <div>200-00062-000</div>
</div>

<div>
    <div>Serial Number :</div>
    <div>808000406</div>
</div>

<br />
<br />
<br />

<div>
    <div>Station</div>
    <div>
        <select>
            <option>Final Inspection</option>
        </select>
    </div>
</div>

<div>
    <div>Status Pass :</div>
    <div><input type="radio" /> Pass (Selected) </div>
    <br>
    <div><input type="radio" /> Fail</div>
</div>

<div>
    <div>

        <div>Parimary</div>
        <div>
            <select>
                <option>Cosmatic</option>
                <option>Power</option>
            </select>
        </div>
    </div>

    <div>

        <div>Secondary</div>
        <div>
            <select>
                <option>Color</option>
                <option>etc</option>
            </select>
        </div>
    </div>
    <div>

        <div>Comment</div>
        <div>
            <input type="text" />
        </div>
    </div>
    <br>
    <div><button ><b>+</b></button></div>
</div>
@code {



}
