@page "/test"
@using QBD2.Entities
@using QBD2.Services
@using QBD2.Models
@inject MasterPartService MasterPartService


@* On the first keystroke, there will be no suggestions, then you will only get "Developer" and "Designer" as you write "de" *@
<TelerikAutoComplete Data="@MasterParts" @bind-Value="@selectedMasterPart"
                     ValueField="@( nameof(MasterPart.PartNumber) )"
                     Filterable="true" MinLength="3"
                     Placeholder="Write 'de' to see the filtering" ClearButton="true" />

<EditForm EditContext="@ECAddEditDeviation">
        <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="name" @bind-Value="DeviationModel.CommentCorrectiveAction " />

    <button type="submit">Submit</button>

</EditForm>
@code {

    string selectedMasterPart { get; set; }
    public IEnumerable<MasterPart> MasterParts { get; set; }
    public DeviationModel DeviationModel { get; set; }
    EditContext ECAddEditDeviation { get; set; }

    protected override async Task OnInitializedAsync()
    {
        MasterParts = MasterPartService.GetAllMasterParts();
        await GetGridData();
    }

    async Task GetGridData()
    {

    }

    private void HandleValidSubmit()
    {
        var x = "test";
    }
}
