@page "/manageexcelupload"
@attribute [Authorize(Roles = "Admin")]
@inherits ManageExcelUploadBase
@using QBD2.Services
@using QBD2.Entities
@using QBD2.Models
@using System.IO
@inject IWebHostEnvironment env
@inject ExcelUploadService ExcelUploadService
@inject ApplicationSettings ApplicationSettings

<h3>Upload CSV File</h3>
@*<InputFile OnChange="@LoadFiles" multiple />*@
<form @onsubmit="OnSubmit">
    @if (AddPartsToExcelUploadError != null && AddPartsToExcelUploadError.Count() > 0)
    {
        <div class="row">
            @foreach(var item in AddPartsToExcelUploadError)
            {
                <label class="text-danger">@item.Error</label><br />
            }
        </div>
        <br/>
     }
    <InputFile OnChange="OnInputFileChange" />
    <br /><br />
    <button type="submit">Upload Selected File(s)</button>
</form>