@page "/managecsvupload"
@*@inherits ManageCSVUploadBase*@
@using QBD2.Services
@using QBD2.Entities
@using System.IO
@inject IWebHostEnvironment env


<h3>Upload CSV File</h3>

@*<InputFile OnChange="@LoadFiles" multiple />*@

<form @onsubmit="OnSubmit">
    <InputFile OnChange="OnInputFileChange" multiple />
    <br /><br />
    <button type="submit">Upload Selected File(s)</button>
</form>

@code {
    string Message = "No file(s) selected";
    IReadOnlyList<IBrowserFile> selectedFiles;

    private void OnInputFileChange(InputFileChangeEventArgs e)
{
    selectedFiles = e.GetMultipleFiles();
    Message = $"{selectedFiles.Count} file(s) selected";
    this.StateHasChanged();
}

private async void OnSubmit()
{
    foreach (var file in selectedFiles)
    {
        Stream stream = file.OpenReadStream(maxAllowedSize: 2147483648);
        var path = $"{env.WebRootPath}\\{file.Name}";
        FileStream fs = File.Create(path);
        await stream.CopyToAsync(fs);
        stream.Close();
        fs.Close();
    }
    Message = $"{selectedFiles.Count} file(s) uploaded on server";
    this.StateHasChanged();
}

}