@page "/manageusers"
@attribute [Authorize(Roles = "Admin")]
@using QBD2.Models
@using QBD2.Services
@using Telerik.Blazor.Components
@using QBD2.Entities
@inject UserService UserService

<PageTitle>Users</PageTitle>
<h3 class="text-white">Users</h3>
    <TelerikGrid Data=@MyData
                 Sortable="true"
                 Pageable="true"
                 FilterMode="Telerik.Blazor.GridFilterMode.FilterRow"
                 EditMode="Telerik.Blazor.GridEditMode.Popup"
             OnUpdate=@UpdateHandler
             OnDelete=@DeleteHandler
             OnCreate=@CreateHandler>
        <GridToolBar>
            <GridCommandButton Command="Add" Icon="add">Add</GridCommandButton>
        </GridToolBar>
        <GridColumns>
            <GridColumn Field=@nameof(ApplicationUser.Email) Title="Email" Width="230px" />
            <GridColumn Field=@nameof(ApplicationUser.UserName) Title="UserName" Width="230px" />
            @*<GridColumn Field=@nameof(ApplicationUser.ADLogin) Title="ADLogin" Width="230px" />*@
            @*<GridColumn Field=@nameof(ApplicationUser.UserRoles.FirstOrDefault().Role.Name) Title="Role" Width="100px">
                <EditorTemplate>
                    @{
                        var CurrentlyEditedUser = context as ApplicationUser;
                        <TelerikDropDownList @bind-Value="CurrentlyEditedUser.UserRoles?.FirstOrDefault()?.RoleId"
                                             DefaultText="Choose a role"
                                             Data="@roles"
                                             ValueField="Value"
                                             TextField="Text" Class="form-control">
                        </TelerikDropDownList>
                    }
                </EditorTemplate>
            </GridColumn>*@
            <GridCommandColumn Width="120px">
                <GridCommandButton Command="Edit" Icon="edit">Edit</GridCommandButton>
            </GridCommandColumn>
        </GridColumns>
        <NoDataTemplate>
            <text>No Records Available</text>
        </NoDataTemplate>
    </TelerikGrid>

@code {

    List<ApplicationUser> MyData { get; set; }
    List<DropDownBindString> roles {get; set; }

    protected override async Task OnInitializedAsync()
    {
        await GetGridData();
    }

    async Task GetGridData()
    {
        MyData = await UserService.Read();
    }

    async Task GetRoles()
    {
        roles = (await UserService.GetRoleSelectList())?.ToList();
    }

    async Task UpdateHandler(GridCommandEventArgs args)
    {
        ApplicationUser item = (ApplicationUser)args.Item;

        await UserService.Update(item);

        await GetGridData();
    }

    async Task DeleteHandler(GridCommandEventArgs args)
    {
        ApplicationUser item = (ApplicationUser)args.Item;

        await UserService.Delete(item);

        await GetGridData();
    }

    async Task CreateHandler(GridCommandEventArgs args)
    {
        ApplicationUser item = (ApplicationUser)args.Item;

        await UserService.Create(item);

        await GetGridData();
    }

    async Task CancelHandler(GridCommandEventArgs args)
    {
        Station item = (Station)args.Item;
    }


}