@page "/managemasterpart"
@attribute [Authorize(Roles = "Admin")]
@using QBD2.Services
@using QBD2.Entities
@inject MasterPartService MasterPartService

<h3>ManageMasterPart</h3>

<TelerikGrid Data="@MyData" Height="400px"
             Pageable="true" Sortable="true" FilterMode="Telerik.Blazor.GridFilterMode.FilterRow"
             Resizable="true">
    <GridToolBar>
    </GridToolBar>
    <GridColumns>
        <GridColumn Field="@(nameof(MasterPart.PartNumber))" Title="Item Number" Groupable="false" />
        <GridColumn Field="@(nameof(MasterPart.Description))" Title="Desc" Groupable="false" />
        <GridCommandColumn>
@*            <GridCommandButton Command="Save" Icon="save" ShowInEdit="true">Update</GridCommandButton>
            <GridCommandButton Command="Edit" Icon="edit">Edit</GridCommandButton>
            <GridCommandButton Command="Delete" Icon="delete">Delete</GridCommandButton>
            <GridCommandButton Command="Cancel" Icon="cancel" ShowInEdit="true">Cancel</GridCommandButton>*@
        </GridCommandColumn>
    </GridColumns>
</TelerikGrid>



@code {

    List<MasterPart> MyData { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await GetGridData();
    }

    async Task GetGridData()
    {
        MyData = await MasterPartService.Read();
    }
}
