@page "/manageusers"
@*@attribute [Authorize(Roles = "Admin")]*@
@using QBD2.Models
@using QBD2.Services
@using Telerik.Blazor.Components
@using QBD2.Entities
@inject UserService UserService

<style>
    .k-dialog-wrapper {
    position: inherit;   
}
.k-centered {
    transform: translate(5%, -300%);
    width: 320px;
}
.k-window-titlebar.k-dialog-titlebar.k-header {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 10px 10px 20px 10px;
}
.k-window-content.k-dialog-content {
    border-radius: 0;
}
label.k-form-label {
    margin-right: 15px;
}
.k-form .k-form-field, .k-form .k-form-field-wrap {
    display: inline-flex;
    width: 100%;
}
.k-actions-start {
    float: right;
}
.k-window-actions span {
    color: #fff;
}
</style>


<PageTitle>Users</PageTitle>
<h3>Users</h3>
    <TelerikGrid Data=@MyData
                 Sortable="true"
                 Pageable="true"
                 FilterMode="Telerik.Blazor.GridFilterMode.FilterRow"
                 EditMode="Telerik.Blazor.GridEditMode.Popup"
             OnUpdate=@UpdateHandler
             OnDelete=@DeleteHandler
             OnCreate=@CreateHandler>
        <GridToolBar>
            <GridCommandButton Command="Add" Icon="add">Add</GridCommandButton>
        </GridToolBar>
        <GridColumns>
            <GridColumn Field=@nameof(ApplicationUser.Email) Title="Email" Width="230px" />
            <GridColumn Field=@nameof(ApplicationUser.UserName) Title="UserName" Width="230px" />
            @*<GridColumn Field=@nameof(ApplicationUser.ADLogin) Title="ADLogin" Width="230px" />*@
            @*<GridColumn Field=@nameof(ApplicationUser.UserRoles.FirstOrDefault().Role.Name) Title="Role" Width="100px">
                <EditorTemplate>
                    @{
                        var CurrentlyEditedUser = context as ApplicationUser;
                        <TelerikDropDownList @bind-Value="CurrentlyEditedUser.UserRoles?.FirstOrDefault()?.RoleId"
                                             DefaultText="Choose a role"
                                             Data="@roles"
                                             ValueField="Value"
                                             TextField="Text" Class="form-control">
                        </TelerikDropDownList>
                    }
                </EditorTemplate>
            </GridColumn>*@
            <GridCommandColumn Width="120px">
                <GridCommandButton Command="Edit" Icon="edit">Edit</GridCommandButton>
            </GridCommandColumn>
        </GridColumns>
        <NoDataTemplate>
            <text>No Records Available</text>
        </NoDataTemplate>
    </TelerikGrid>

@code {

    List<ApplicationUser> MyData { get; set; }
    List<DropDownBindString> roles {get; set; }

    protected override async Task OnInitializedAsync()
    {
        await GetGridData();
    }

    async Task GetGridData()
    {
        MyData = await UserService.Read();
    }

    async Task GetRoles()
    {
        roles = (await UserService.GetRoleSelectList())?.ToList();
    }

    async Task UpdateHandler(GridCommandEventArgs args)
    {
        ApplicationUser item = (ApplicationUser)args.Item;

        await UserService.Update(item);

        await GetGridData();
    }

    async Task DeleteHandler(GridCommandEventArgs args)
    {
        ApplicationUser item = (ApplicationUser)args.Item;

        await UserService.Delete(item);

        await GetGridData();
    }

    async Task CreateHandler(GridCommandEventArgs args)
    {
        ApplicationUser item = (ApplicationUser)args.Item;

        await UserService.Create(item);

        await GetGridData();
    }

    async Task CancelHandler(GridCommandEventArgs args)
    {
        Station item = (Station)args.Item;
    }


}