@page "/managepart"
@using QBD2.Services
@using QBD2.Entities
@using QBD2.Models
@inject PartService PartService

<h3>Part</h3>

<TelerikGrid Data="@MyData"
             Pageable="true" Sortable="true"
             Resizable="true"
             EditMode="Telerik.Blazor.GridEditMode.Inline">
    <GridToolBar>
        <GridCommandButton Command="Add" Icon="add">Add a Part</GridCommandButton>
    </GridToolBar>
    <DetailTemplate>
        @{
            var objParts = context as Parts;
            <TelerikGrid Data="objParts.ChildParts" Pageable="true" PageSize="5">
                <GridColumns>
                    <GridColumn Field="Description"></GridColumn>
                    <GridColumn Field="PartNumber"></GridColumn>
                    <GridColumn Field="SerialNumber"></GridColumn>
                </GridColumns>
            </TelerikGrid>
        }
    </DetailTemplate>
    <GridColumns>
        <GridColumn Field="@(nameof(Parts.Description))" Title="Name" Groupable="false" />
        <GridColumn Field="@(nameof(Parts.PartNumber))" Title="Number" Groupable="false" />
        <GridColumn Field="@(nameof(Parts.SerialNumber))" Title="Serial Number" Groupable="false" />
        <GridCommandColumn>
        </GridCommandColumn>
    </GridColumns>
</TelerikGrid>

@code {

    List<Parts> MyData { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await GetGridData();
    }

    async Task GetGridData()
    {
        MyData = await PartService.Read();
    }

}
